$background-color: #252A38;
$darker-background: #151820;
$foreground: #DCDCDC;

.alert-disappear {
    display: none;
}

.alert-appear {
    display: block;
}

h2 {
    position: relative;
    padding: 50px;
    text-align: center;
}

form.create-user {
    position: relative;
    width: 90%;
    text-align: left;
    margin: 0;

    // border: solid 5px red;
}

form.create-user input {
    display: inline-block;
    text-align: left;
    width: 220%;

}

form.create-user label {
    display: inline-block;
    color: $foreground;
    text-align: left;
    width: 50%;
    position: absolute;
    left: 0;
    margin-right: 30px;
}

form.create-post {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form.create-user input {
    display: inline-block;
    text-align: left;
    width: 220%;
}

form.create-post label {
    color: $foreground;
    text-align: left;
}

// form.create-post{
//     border: solid 10px red;
// }

.error {
    color: $foreground;
    overflow-wrap: break-word;
    // border: solid 5px red;
}

button.btn {
    margin-top: 50px;
}

button.btn:hover {
    background-color: $foreground;
}