div.posts-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

li.posts-item img {
    width: 100%;
    height: 100%;
    position: relative;
}

li.posts-item {
    list-style-type: none;
    background: #151820;
    position: relative;
    color: white;
    text-overflow: ellipsis;
}

// ul.posts {
//     white-space: nowrap;
//     list-style-type: none;
//     text-overflow: wrap;
//     background: #151820;
//     list-style-type: none;
// }