$background-color: #252A38;
$darker-background: #151820;
$foreground: #DCDCDC;

div.users-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

li.users-item img {
    width: 100%;
    height: 100%;
    position: relative;
}
div.user-details{
    color:white;
}
a{
    color: white;
}

li.users-item {
    list-style-type: none;
    background: #151820;
    position: relative;
    color: white;
    text-overflow: ellipsis;
}

li.users-item:hover{
    background-color: black;
}

// li.users-item div a:hover{
//     background-color: red;
// }

div.btnNext{
    margin-top: 50px;
}

div.btn a{
    text-decoration: none;
    
}