$background-color: #252A38;
$darker-background: #151820;
$foreground: #DCDCDC;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: $background-color;
  // display:flex;
}


nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $darker-background;
}

div.nav-items {
  display: flex;
  justify-content: space-evenly;
  color: $foreground;
  list-style: none;
  text-decoration: none;
  padding: 15px;
}

div.nav-items a {
  list-style: none;
  color: $foreground;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;

}

div.nav-items a:hover {
  background-color: $foreground;
  color: $darker-background
}

h1,
h3 {
  color: $foreground;
}